body {
  margin: 0;
  padding: 2rem;
  font: 1rem sans-serif;
}

h1 {
  text-align: right;
  font: small-caps 18px monospace;
}

#hero {
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

#hero p {
  font-size: 5rem;
}

#hero a {
  font-size: 3rem;
}

h2 {
  width: 70%;
  padding-bottom: .5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid black;
}

#goals,
#log {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.left,
.right {
  flex: 1;
  min-width: 300px;
}

.goal-description {
  padding: 0 10px;
}

.timeline {
  font: 1.25rem monospace;
}

form {
  width: 100%;
  line-height: 160%;
}

#form-fields>* {
  width: 40%;
}

.week-row {
  width: 100%;
  display: flex;
  gap: .4rem;
}

.day_break,
.day_worked {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}

.day_break {
  background-color: #eee;
}

.day_worked {
  background-color: #aaa;
}

textarea {
  width: 100%;
}